h1, p {
    margin: 0;
    padding: 0;
} 

.header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* max-width: 630px; */
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.navigation{
    background: antiquewhite;
    width: 100px;
    /* position: absolute;
    right: 0; */
    text-align: center;
    margin-right: -36px;
}

h1 {
    font-size: 3rem;
}

.fa-bars {
    font-size: 2rem;
}
