h1,p {
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: 'Lobster', cursive;

  /* max-width: 630px; */
}

.header-container {
  position: relative;
}

.navigation {
  /* background: rgba(250, 235, 215, 1); */
  width: 100px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  right: -36px;
}

h1 {
  font-size: 3rem;
}

.fa-bars {
  font-size: 2rem;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 5px;
  color:white;
}


.fa-heart{
    font-size: 100px;
    padding: 0;
    margin: 0;
    z-index: -5;
    position: absolute;
    left: 0;
    top: -11px;
    color:red;
}