<div class="page-container">
    <app-header></app-header>
    <h1>About the Creators</h1>
    <div class="info-cards">
        <div class="katie info">
            <div class="img-container"> <img src="../../assets/katie.jpg" alt="Katie profile picture"
                    class="profile-pic"></div>
            <h2>Katherine Nolde <a href="https://www.linkedin.com/in/katherine-nolde-dev/" target="_blank"><i
                        class="fab fa-linkedin"></i></a></h2>
            <p>I am a longtime student of Russian language and translation who is breaking into the tech industry. I
                was inspired by translation software to study coding. My hobbies include reading, tennis, and film.</p>

        </div>
        <div class="sabbir info">
            <div class="img-container"><img src="../../assets/sabbir.jpeg" alt="Sabbir profile picture"
                    class="profile-pic"></div>
            <h2>Sabbir Ahmed <a href="https://www.linkedin.com/in/sabbir-dev/" target="_blank"><i
                        class="fab fa-linkedin"></i></a></h2>
            <p>I am a curious-minded developer, excited to change the world around me through code! Outside of work, I
                love to travel to new places, try new food recipes, swim, and practice my photography. Check out my
                instagram
                @saber_pics! </p>
            <a href="https://www.instagram.com/saber_pics/" target="_blank"><img
                    src="https://www.vectorlogo.zone/logos/instagram/instagram-ar21.svg" alt=""></a>

        </div>
        <div class="amanda info">
            <div class="img-container"> <img src="../../assets/amanda.jpg" alt="Amanda profile picture"
                    class="profile-pic"> </div>
            <h2>Amanda Gunturu <a href="https://www.linkedin.com/in/amanda-gunturu/" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            </h2>
            <p>I am a firm believer in the phrase: “do something you love and you’ll never work a day in your life”.
                When it comes to coding, it never feels like work to me because it is my passion. When I started down
                the path of becoming a developer, that is when I finally found my purpose in life.</p>

        </div>
    </div>
</div>