<app-header></app-header>
<main>
    <section class="main-content">
        <h1 class="h1">Date Nite Checklist</h1>
        <ol class="ordered-list">
            <li class="list-item" *ngFor="let item of todos, index as i">
                <div class="item-container">
                    <button *ngIf="!item.completed" class="complete-btn" (click)="updateTask(i)">
                        Complete
                    </button>
                    <p class="task" [ngClass]="{ completed: item.completed }">
                        {{ item.task }}
                    </p>
                    <button (click)="deleteTask(i)">X</button>
                </div>
            </li>
        </ol>
        <form class="form" #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
            <input class="input" type="text" name="task" id="task" placeholder="Add Date Prep Task" ngModel />
            <button class="add-btn">Add</button>
        </form>
    </section>
</main>