<div class="page-container">
    <app-header></app-header>
    <main>
        <section class="main-content">
            <h1 class="h1">Date Nite Checklist</h1>
            <ol class="ordered-list">
                <li class="list-item" *ngFor="let item of todos, index as i">
                    <div class="item-container">
                        <i class="fas fa-check-square" *ngIf="item.completed"></i>
                        <button *ngIf="!item.completed" class="complete-btn" (click)="updateTask(i)">
                            Complete
                        </button>
                        <p class="task" [ngClass]="{ completed: item.completed }">
                            {{ item.task }}
                        </p>
                        <button (click)="deleteTask(i)" class="trash"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </li>
            </ol>
            <form class="form" #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
                <input class="input" type="text" name="task" id="task" placeholder="Add Date Prep Task" ngModel
                    autocomplete="off" />
                <button class="add-btn">Add</button>
            </form>
        </section>
    </main>
</div>