
main {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
  }
  
  input, button {
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 5px;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 75vw;
  }
  
  .about {
    margin: 5px 0;
  }
  
  .input {
    margin-bottom: 5px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .ordered-list {
    margin-left: 20px;
  }
  
  .list-item {
    margin-bottom: 5px;
  }
  
  .item-container {
    display: flex;
    align-items: center;
  }
  
  .complete-btn {
    color: #ff69b4;
    border: 1px solid #ff69b4;
    margin-right: 5px;
  }
  
  .task {
    flex: 1;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .add-btn {
    background-color: #ff1493;
    color: white;
  }

  .h1 {
    font-family: "Lobster", cursive;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: #00efff;
  }
  