
main {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
  }
  
  input, button {
    font-size: 1.3rem;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
  }

  input:focus, button:focus{
      outline: none;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    width: 75vw;
    background-color: rgba(251, 251, 251, 0.7);
    box-shadow: 2px 2px 7px 3px #efefef;
    border: 2px solid #f02fa7;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  .about {
    margin: 5px 0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .trash{
    border: none;
    background: none;
    padding: 10px;
  }
  .fa-check-square{
    margin-right:5px;
    color:#de5a79;
  }
  .fa-trash-alt{
    font-size:1.6rem;
  }
  
  .list-item {
    margin-bottom: 5px;
  }
  
  .item-container {
    display: flex;
    align-items: center;
  }
  
  .complete-btn {
    color: #ffffff;
    border: 1px solid violet;
    margin-right: 5px;
    background-color: violet;
  }
  
  .task {
    flex: 1;
  }
  
  .completed {
    color:lightslategrey;
  }
  
  .add-btn {
    background-color: violet;
    color: white;
    width: 27%;
    margin: 0 auto;
  }

  .add-btn:hover{
    /* transform:translateY(5px); */
    transform: scale(1.02);
    box-shadow: 0.5px 6px 8px -3px black;
  }
input{
  text-align:center;
  width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
}
  .h1 {
    font-family: "Lobster", cursive;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: #de5a79;
    border-radius: 10px;
  }
  
.page-container {
    display: flex;
    flex-direction: column;
}
app-header {
  width: 100%;
  box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  background: linear-gradient( 65deg, rgba(251, 206, 177, 1) 0%, rgba(220, 81, 117, 1) 44%, #00efff 89% );
  border-radius: 0 0 15px 15px;
}
