<div class="page-container">
  <app-header></app-header>
  <div class="main-buttons-container">
    <form #locationForm="ngForm" (ngSubmit)="search(locationForm)" class="location-form">
      <label for="locationText" class="location-label">Where is your date?</label>
      <input type="text" class="input" id="locationText" name="locationText" placeholder="Enter City, State" ngModel
        required />
      <button class="label button">S e a r c h</button>
    </form>

    <button (click)="showIceBreakers()" class="main-buttons">Ice Breakers</button>
    <div *ngIf="showIceBreakersList" class="icebreakers-container">
      <div class="example">
        <button (click)="showJokes()" class="icebreaker-buttons">Jokes</button>
        <button (click)="showTrivia()" class="icebreaker-buttons">Trivia</button>
        <button (click)="showPersonal()" class="icebreaker-buttons">
          Personal
        </button>
      </div>
      <div *ngIf="showJokeForm" class="icebreaker-child joke-button">
        <form #jokeForm="ngForm" (change)="getAllJokes(jokeForm)" class="form-testing">
          <!-- <label for="jokes">Adult Joke?</label> -->
          <select name="jokes" id="jokes" ngModel="adult">
            <option value="adult">Adult Joke?</option>
            <option value="false">No</option>
            <option value="true">Yes</option>
          </select>
        </form>
        <div *ngIf="showJokeText" class="icebreaker-body">
          <p>{{ randomJoke?.prompt }}</p>
          <p>{{ randomJoke?.answer }}</p>
          <button (click)="getAllJokes(jokeForm)">Get a New Joke!</button>
        </div>
      </div>

      <div *ngIf="showTriviaForm" class="icebreaker-child trivia-button">
        <form #triviaForm="ngForm" (change)="getAllTrivia(triviaForm)">
          <!-- <label for="trivia">Choose Category</label> -->
          <select name="trivia" id="trivia" ngModel="">
            <option value="">Choose Category</option>
            <option value="miscellaneous" selected>Miscellaneous</option>
            <option value="history">History</option>
            <option value="geography">Geography</option>
            <option value="science">Science</option>
          </select>
        </form>

        <div *ngIf="showTriviaText" class="icebreaker-body">
          <p>Q: {{ randomTrivia?.question }}</p>
          <p>A: {{ randomTrivia?.answer }}</p>
          <button (click)="getAllTrivia(triviaForm)">Get Trivia</button>
        </div>
      </div>

      <!-- **************************************** -->
      <!-- on change it will run the function, vs onSubmit which requires clicking enter or a submit button -->
      <!-- focus must be taken away from an input field for it to consider it as a change, and then run the function defined -->
      <div *ngIf="showIntimateForm" class="icebreaker-child intimate-button">
        <form #intimateForm="ngForm" (change)="getAllIntimate(intimateForm)">
          <!-- <label for="intimate">Choose Intimacy Level</label> -->
          <select name="intimate" id="intimate" ngModel="" class="select-intimate">
            <option value="">Intimacy Level</option>
            <option value="level1">Level 1</option>
            <option value="level2">Level 2</option>
            <option value="level3">Level 3</option>
          </select>
        </form>

        <div *ngIf="showIntimateText" class="icebreaker-body">
          <p>{{ randomIntimate?.question }}</p>
          <button (click)="getAllIntimate(intimateForm)">Get New Topic</button>
        </div>
      </div>
    </div>

    <button (click)="showMovies()" class="main-buttons">Movies</button>
    <ul class="movies-container" *ngIf="showMovieList">
      <li *ngFor="let movie of moviesList; index as i" class="movie">
        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="movie poster" class="movie-poster" />
        <p>{{ movie.title }}</p>
        <!-- <p>{{ movie.overview }}</p> -->
      </li>
    </ul>

    <button (click)="showRestaurants()" class="main-buttons">Restaurants</button>
    <ul class="restaurants-container" *ngIf="showRestaurantList">
      <li *ngFor="let item of restaurantsFiltered" class="restaurant-card">
        <a href="{{ item.website }}">{{ item.name }}</a>
        <p>{{ item.address }}</p>
      </li>
    </ul>

    <button (click)="hideBeer()" class="main-buttons">Find Craft Beer</button>
    <div *ngIf="show" class="beer-body">
      <h1>{{ beer?.data.name }}</h1>
      <h2>{{ beer?.data.style.name }}</h2>
      <h3>ABV: {{ beer?.data.abv }}</h3>
      <p>{{ beer?.data.style.description }}</p>
      <button (click)="getBeer()">Show Me Another Beer</button>
    </div>

    <button (click)="showActivities()" class="main-buttons">Activity</button>
    <div *ngIf="showActivityForm" class="activities-section">
      <form #activityForm="ngForm" (change)="getActivities(activityForm)">
        <!-- <label for="activities">Select an activity</label> -->
        <select name="activities" id="activities" ngModel="">
          <option value="">Select Activity</option>
          <option value="amusement park">Amusement Park</option>
          <option value="aquarium">Aquarium</option>
          <option value="art museum">Art Museum</option>
          <option value="beach">Beach</option>
          <option value="billiards">Billiards</option>
          <option value="bowling_alley">Bowling Alley</option>
          <option value="campground">Campground</option>
          <option value="casino">Casino</option>
          <option value="golf course">Golf Course</option>
          <option value="history museum">History Museum</option>
          <option value="nature reserve">Nature Reserve</option>
          <option value="park">Park</option>
          <option value="science museum">Science Museum</option>
          <option value="swimming pool">Swimming Pool</option>
          <option value="tourist attraction">Tourist Attraction</option>
          <option value="zoo">Zoo</option>
        </select>
      </form>

      <ul class="activities-container">
        <li *ngFor="let activity of activities" class="activities-card">
          <p>{{ activity.attributes.PlaceName }}</p>
          <p>{{ activity.attributes.Place_Addr }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>