p,label,button, input, select {
  font-family: 'Source Sans Pro', sans-serif;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-header {
  width: 80%;
}

.main-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

select{
  background-color: rgb(239, 239, 239);
}

button{
  cursor:pointer;
}

.main-buttons {
  width: 90%;
  font-size: 2rem;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 3px #ee06a8;
  transition: 0.5s;
  font-family: 'Lobster', cursive;
  cursor:pointer;

}

.main-buttons:hover {
  transform: scale(1.05);
  background-color: #00efff;
}

/* example and testing are just to temporarily test these ideas**** */
.example {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-form {
  display: flex;
  flex-direction: column;
}

.location-label {
  font-size: 1.8rem;
  font-family: 'Lobster', cursive;
}

.text-boxes {
  border: 1px solid black;
  background-color: rgba(251, 206, 177, .7);
  border-radius: 10px;
  padding: 5px;
}
.icebreakers-container {
  display: flex;
  justify-content: center;
}

.icebreaker-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  align-items: center;
}

.select-input {
  border-radius: 5px;
  margin-bottom:5px;
}

.icebreaker-child-container {
  display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.icebreaker-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(251, 206, 177, .7);
  border-radius: 10px;
  padding: 5px;
}

.icebreaker-buttons {
  margin: 10px;
  font-size: 1.4rem;
  border-radius: 6px;
  background-color:#ee82ee;
}

.icebreaker-p {
  margin-bottom: 10px; 
}

.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* overflow-x: auto;
  max-width: -webkit-fill-available; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.restaurant-card {
  border: 2px solid black;
  width: 125px;
  height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color:  rgba(251, 206, 177, .7);
  border-radius: 10px;
}

.movies-container {
  /* border:solid black 1px;
    background-color:lightblue; */
  display: flex;
  overflow-x: auto;
  max-width: -webkit-fill-available;
  padding: 0;
  margin: 0;
  /* flex-direction: column; */
}

.movie {
  /* width: 20%;
  /* border:1px solid blue; */
  display: flex;
  flex-direction: column;
  margin: 3px;
  /* justify-content: center;
  align-items: center; */
}

.movie-poster {
  height: 200px;
  width: 150px;
  border: solid black 3px;
  border-radius: 10px;
}

.movie-title{
  background-color: rgb(239, 239, 239);
  text-align: center;
  border-radius: 10px;
}

.beer-body {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  font-family: 'Source Sans Pro', sans-serif;
}

.beer-name{
  font-size: 30px;
  margin: 0 auto;
  font-family: 'Lobster Two', cursive;
  margin-bottom: 10px;
}

.beer-style{
  font-size:20px
}

.beer-abv{
  font-size:20px;
  margin-bottom:10px;
}

.activities-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activities-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* overflow-x: auto;
   max-width: -webkit-fill-available; */
  list-style: none;
  padding: 0;
  margin: 0;
}
.activities-card {
  width: 125px;
  height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.border-boxshadow{
  box-shadow: 2px 2px 7px 3px #efefef;
  border: 2px solid #f02fa7;
}

.buttons-text {
  width: fit-content;
  border-radius: 10px;
  background-color: violet;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .main-buttons {
    background-color: cyan;
  }
  .main-buttons-container {
    max-width: 650px;
  }

  app-header {
    width: 60%;
  }
}
