<form #locationForm="ngForm" (ngSubmit)="search(locationForm)">
    <label for="locationText" class="label">Where is your date?</label>
    <input type="text" class="input" id="locationText" name="locationText" placeholder="Enter City, State" ngModel />
    <button class="label button">S e a r c h</button>
</form>

<form #jokeForm="ngForm" (ngSubmit)="getAllJokes(jokeForm)">
    <label for="jokes">Adult Joke?</label>
    <select name="jokes" id="jokes" ngModel>
        <option value="false" selected="selected">No</option>
        <option value="true">Yes</option>
    </select>
    <button>Get me a Joke!</button>
</form>

<div>
    <ul class="jokes">
        <li>
            <p>{{ randomJoke?.prompt }}</p>
            <p>{{ randomJoke?.answer }}</p>
        </li>
    </ul>
</div>

<form #triviaForm="ngForm" (ngSubmit)="getAllTrivia(triviaForm)">
    <label for="trivia">Choose Category</label>
    <select name="trivia" id="trivia" ngModel>
        <option value="miscellaneous" selected>Miscellaneous</option>
        <option value="history">History</option>
        <option value="geography">Geography</option>
        <option value="science">Science</option>
    </select>
    <button>Get Trivia</button>
</form>

<ul>
    <li>
        <p>{{ randomTrivia?.question }}</p>
        <p>{{ randomTrivia?.answer }}</p>
    </li>
</ul>

<form #intimateForm="ngForm" (ngSubmit)="getAllIntimate(intimateForm)">
    <label for="intimate">Choose Intimacy Level</label>
    <select name="intimate" id="intimate" ngModel>
        <option value="level1">Level 1</option>
        <option value="level2">Level 2</option>
        <option value="level3">Level 3</option>
    </select>
    <button>Enter</button>
</form>

<ul>
    <li>
        <p>{{ randomIntimate?.question }}</p>
    </li>
</ul>


<div>
    <button (click)="showMovies()">Movies</button>
    <ul class="movies-container" *ngIf="showMovieList">
        <li *ngFor="let movie of moviesList; index as i" class="movie">
            <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="movie poster"
                class="movie-poster" />
            <p>{{ movie.title }}</p>
            <p>{{ movie.overview }}</p>
        </li>
    </ul>
</div>

<div>
    <button (click)="showRestaurants()">Restaurants</button>
    <ul class="restaurants" *ngIf="showRestaurantList">
        <li *ngFor="let item of restaurants">
            <p>{{ item.name }}</p>
        </li>
    </ul>
</div>

<div>
    <button (click)="getBeer()">Find Craft Beer</button>
    <div *ngIf="show">
        <h1>{{ beer?.data.name }}</h1>
        <h2>{{ beer?.data.style.name }}</h2>
        <h3>{{ beer?.data.abv }}</h3>
        <p>{{ beer?.data.style.description }}</p>
        <button (click)="hideBeer()">Hide</button>
    </div>
</div>

<div>
    <form #activityForm="ngForm" (ngSubmit)="getActivities(activityForm)">
        <label for="activities">Select an activity</label>
        <select name="activities" id="activities" ngModel>
            <option value="parks">Parks</option>
            <option value="beach">Beach</option>
            <option value="campground">Campground</option>
            <option value=""></option>
        </select>
        <button>Enter</button>
    </form>
    <ul>
        <li *ngFor="let activity of activities">
            <p>{{ activity.attributes.PlaceName }}</p>
            <p>{{ activity.attributes.Place_Addr }}</p>
            <p>{{ activity.attributes.City }}</p>
            <p>{{ activity.attributes.Region }}</p>
        </li>
    </ul>
</div>